{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="card-content">
    <div class="card-body">
        <fieldset>
            <div class="input-group">
                {{ form_errors(form.question) }}

                {{ form_widget(form.question,{'attr':{'class':'form-control','placeholder':'Nom de Formation','style':"width: 200px;"} } ) }}
            </div>
        </fieldset>
    </div>
</div>
<div class="card-content">
    <div class="card-body">
        <fieldset>
            <div class="input-group">
                {{ form_errors(form.quiz) }}

                {{ form_widget(form.quiz,{'attr':{'class':'form-control','placeholder':'Nom de Formation','style':"width: 200px;"} } ) }}
            </div>
        </fieldset>
    </div>
</div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
