{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="card-content">
    <div class="card-body">
        <fieldset>
            <div class="input-group">


                {{ form_widget(form.nom_quiz,{'attr':{'class':'form-control','placeholder':'Nom de Quiz','style':"width: 200px;"} } ) }}
            </div>
        </fieldset>
        {{ form_errors(form.nom_quiz) }}
    </div>
</div>
<div class="card-content">
    <div class="card-body">
        <fieldset>
            <div class="input-group">


                {{ form_widget(form.formation,{'attr':{'class':'form-control','placeholder':'Nom de Quiz','style':"width: 200px;"} } ) }}
            </div>
        </fieldset>
        {{ form_errors(form.formation) }}
    </div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
