
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="card-content">
    <div class="card-body">
        <fieldset>
            <div class="input-group">
                {{ form_errors(form.commentaire) }}
                {{ form_label(form.commentaire,"Commentaire : ") }}
                {{ form_widget(form.commentaire,{'attr':{'class':'form-control','style':"width: 200px;margin-left:30px "} } ) }}
            </div>
        </fieldset>
    </div>
</div>


<div class="card-content">
    <div class="card-body">
        <fieldset>
            <div class="input-group">
                {{ form_errors(form.etat) }}
                {{ form_label(form.etat,"Etat : ") }}
                {{ form_widget(form.etat,{'attr':{'class':'form-control','style':"width: 200px;margin-left:103px"} } ) }}
            </div>
        </fieldset>
    </div>
</div>
<div class="card-content">
    <div class="card-body">
        <fieldset>
            <div class="input-group">
                {{ form_errors(form.categorie) }}
                {{ form_label(form.categorie,"Categorie : ") }}
                {{ form_widget(form.categorie,{'attr':{'class':'form-control','style':"width: 200px;margin-left:60px"} } ) }}
            </div>
        </fieldset>
    </div>
</div>

<div style="text-align: center">
    <button  class="btn btn-dark">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
