<html>
    <h1 align="center"> LA LISTE DES RECLAMATIONS </h1>


    <table class="table" border="2" align="center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Categorie</th>
            <th>Commentaire</th>
            <th>Date_reclamation</th>
            <th>Etat</th>

        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}

            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.categorie.type }}</td>
                <td>{{ reclamation.commentaire }}</td>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.etat }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</html>

