
{% extends 'admin/index.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td> {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                            Utilisateur
                        {% elseif role == "ROLE_EDITOR" %}
                            Editeur
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur
                        {% endif %}
                    {% endfor %}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>***********</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Datedenaissance</th>
                <td>{{ user.datedenaissance ? user.datedenaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><p>
                        {% if vich_uploader_asset(user, 'imageFile') is null %}
                        {% else %}
                            <img src="{{ vich_uploader_asset(user, 'imageFile')|imagine_filter('carre') }}" alt="Image">
                        {% endif %}
                    </p></td>
            </tr>
            <tr>
                <th>Wallet</th>
                <td>{{ user.wallet }}</td>
            </tr>
            <tr>
                <th>Fidality</th>
                <td>{{ user.fidality }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ user.etat }}</td>
            </tr>
            <tr>
                <th>Activation</th>
                <td> {% if user.activation is null %}
                true
                    {% else %}
                false
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Datedecreation</th>
                <td>{{ user.datedecreation ? user.datedecreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_index') }}">back to list</a>

    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
