{% extends 'back/index.html.twig' %}

{% block title %}Tablecours{% endblock %}

{% block bodyback %}
    <h1 style="text-align: center">AFFICHER UN COURS</h1>
    <div style="text-align: center" >
        <button  class="btn btn-dark" >
            <a href="{{ path('cours_index') }}">Retour à la liste des cours</a>
        </button>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ tablecour.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ tablecour.Code }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ tablecour.Titre }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ tablecour.Duree }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ tablecour.Contenu }}</td>
            </tr>

        </tbody>
    </table>



    {{ include('cours/_delete_form.html.twig') }}

{% endblock %}
