


    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    <div class="card-content">
        <div class="card-body">
            <fieldset>
                <div class="input-group">


                    {{ form_widget(form.type,{'attr':{'class':'form-control','placeholder':'Nom de Formation','style':"width: 200px;"} } ) }}
                </div>
            </fieldset>
            {{ form_errors(form.type) }}
        </div>
    </div>

    <div class="card-content">
        <div class="card-body">
            <fieldset>
                <div class="input-group">


                    {{ form_widget(form.question_a,{'attr':{'class':'form-control','placeholder':'Question','style':"width: 200px;"} } ) }}
                </div>
            </fieldset>
            {{ form_errors(form.question_a) }}
        </div>
    </div>
    <div class="card-content">
        <div class="card-body">
            <fieldset>
                <div class="input-group">


                    {{ form_widget(form.reponse,{'attr':{'class':'form-control','placeholder':'La reponse juste','style':"width: 200px;"} } ) }}
                </div>
            </fieldset>
            {{ form_errors(form.reponse) }}
        </div>
    </div>
    <div class="card-content">
        <div class="card-body">
            <fieldset>
                <div class="input-group">


                    {{ form_widget(form.fausse_reponse,{'attr':{'class':'form-control','placeholder':'La fausse Reponse','style':"width: 200px;"} } ) }}
                </div>
            </fieldset>
            {{ form_errors(form.fausse_reponse) }}
        </div>
    </div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
